version: "3.8"

x-environment: &default-env
  KAFKA_BROKER: kafka:9092

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - internal_net

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD-SHELL", "nc -z localhost 9092" ]
      interval: 10s           # cada 10 segundos
      timeout: 5s             # si no responde en 5 segundos, se considera fallido
      retries: 5              # intenta 5 veces antes de marcarlo como unhealthy
      start_period: 15s       # espera 15 seg antes de comenzar las verificaciones
    networks:
      - internal_net

  nginx:
    image: nginx:stable
    ports:
      - "8000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - service_auth
      - service_empresas
      - service_proyectos
      - service_programacion
    networks:
      - front_net
      - internal_net

  postgres_auth:
    image: postgres:15
    environment:
      POSTGRES_DB: auth_db
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_pass
    volumes:
      - pg_auth_data:/var/lib/postgresql/data
    networks:
      - internal_net

  service_auth:
    build: ./service_auth
    environment:
      - DATABASE_URL=postgres://auth_user:auth_pass@postgres_auth:5432/auth_db
    depends_on:
      - postgres_auth
    networks:
      - front_net
      - internal_net

  postgres_empresa:
    image: postgres:15
    environment:
      POSTGRES_DB: empresa_db
      POSTGRES_USER: empresa_user
      POSTGRES_PASSWORD: empresa_pass
    volumes:
      - pg_empresa_data:/var/lib/postgresql/data
    networks:
      - internal_net

  service_empresas:
    build: ./service_empresas
    environment:
      - DATABASE_URL=postgres://empresa_user:empresa_pass@postgres_empresa:5432/empresa_db
      - KAFKA_BROKER=kafka:9092
    depends_on:
      - postgres_empresa
      - service_auth
      - kafka

    networks:
      - front_net
      - internal_net

  postgres_proyectos:
    image: postgres:15
    environment:
      POSTGRES_DB: proyectos_db
      POSTGRES_USER: proyectos_user
      POSTGRES_PASSWORD: proyectos_pass
    volumes:
      - pg_proyectos_data:/var/lib/postgresql/data
    depends_on:
      - kafka
    networks:
      - internal_net

  service_proyectos:
    build: ./service_proyectos
    environment:
      - DATABASE_URL=postgres://proyectos_user:proyectos_pass@postgres_proyectos:5432/proyectos_db
      - SERVICE_EMPRESA_URL=http://service_empresas:8000
      - SERVICE_PROGRAMACION_URL=http://service_programacion:8000
    depends_on:
      - postgres_proyectos
      - service_auth
      - service_empresas
      - service_programacion
    networks:
      - front_net
      - internal_net

  postgres_programacion:
    image: postgres:15
    environment:
      POSTGRES_DB: programacion_db
      POSTGRES_USER: programacion_user
      POSTGRES_PASSWORD: programacion_pass
    volumes:
      - pg_programacion_data:/var/lib/postgresql/data
    networks:
      - internal_net

  service_programacion:
    build: ./service_programacion
    environment:
      - DATABASE_URL=postgres://programacion_user:programacion_pass@postgres_programacion:5432/programacion_db
    depends_on:
      - postgres_programacion
      - service_auth
    networks:
      - front_net
      - internal_net

volumes:
  pg_auth_data:
  pg_empresa_data:
  pg_proyectos_data:
  pg_programacion_data:

networks:
  front_net:
  internal_net:
